<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User input handling</title>
</head>
<body>
    <div id="app">
        <h1>Enter your credentials</h1> 
        <input v-model="name" type="text" placeholder="Please enter your name"/>
        <input v-model="pass" type="password" placeholder="Please enter your password"/>
        <p>{{ name }}</p>
        <p>{{ pass }}</p>
        <input v-model="checkedItems" type="checkbox" id="students" value="students">
        <label for="students"> Students</label>
        <input v-model="checkedItems" type="checkbox" id="staff" value="staff">
        <label for="staff"> Staff </label>
        <input v-model="checkedItems" type="checkbox" id="visitors" value="visitors">
        <label for="visitors"> visitors </label>
        <ul>
            <li v-for="item in checkedItems">{{ item }}</li>
        </ul>
        <select v-model="selected">
            <option disabled value="">Seleect one from the following!</option>
            <option>current staff/student</option>
            <option>Alumni staff/student</option>
            <option>prospective staff/student</option>
        </select>
        <p>{{ selected }}</p>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="week6Vue.js"></script>
</body>
</html>