<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <div id="app">
            <h1 v-if="msg1"> This is will display if message is True</h1>
            <h1 v-else>otherwise this message will show</h1>
            <h1 v-if="numb > 10">THe number is bigger than 10</h1>
            <p v-show="showPara">This paragraph will only show if  v show is true</p>
            <h1 v-for=""></h1>
            <ul>
                <li v-for="rnd in rndArray">{{ rnd }}</li>
            </ul>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
        <script src="week4conditionals.js"></script>
    </body>
</html>